{% extends "Tesisapp/Inicio.html" %}
{% load static %}
{% block content %}
<div class="row mt">          
          <div class="col-lg-6 ">
            <div class="content-panel"> 

               <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 ">
               <div class="titlesimple" style="width:57px; float:left"><span class="predTitle" style="font-size:x-small;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">En eso. </font><font style="vertical-align: inherit;">nivel</font></font></span></div>
               <div style="margin-left:63px"><input name="predInput" class="predInput small" size="5"></div>
               </div> 

               <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8">
                  <div style="width:5px; float:left; text-align: right">0</div>
                  <div style="width:25px; float:right">7</div>
                  <div style="padding-top:7px; margin-left:28px; margin-right:28px"> <input type="range" min="1" max="100" value="50" id="myRange"></div>
                  
                  <div class="slidecontainer">                   
                  <input type="range" min="1" max="100" value="50" id="myRange">   
                  <p>Value: <span id="demo"></span></p>
                 </div>
               
               </div> 
            </div>  

          </div>         
          
          <div class="col-lg-6 " id="chartjs">            
            <div class="showback" >
                <div class="pc-tab">
                    <input checked="checked" id="tab1" type="radio" name="pct"/>
                    <input id="tab2" type="radio" name="pct"/>
                    <input id="tab3" type="radio" name="pct"/>   
                    <nav>
                        <ul>
                           <li class="tab1">
                              <label for="tab1">Primera tabla</label>
                           </li>
                            <li class="tab2">
                              <label for="tab2">Segunda tabla</label>
                           </li>
                            <li class="tab3">
                              <label for="tab3">Tercera tabla</label>
                           </li>
                        </ul>
                    </nav>
                    <section>
                        <div class="tab1">
                           <h2>Primero</h2>
                           <canvas id="line" height="300" width="500"></canvas>                       
                        </div>
                        <div class="tab2">
                           <h2>Segundo</h2>
                           <canvas id="doughnut" height="300" width="400"></canvas>
                        </div>
                        <div class="tab3">
                           <h2>Tercero</h2>
                           <p>zcxxxxxxxxxxxxxxxxxxxxx</p>
                        </div>
                    </section>             
                </div>
             
            </div>            
          </div>

</div>
 
 
                 
<script>
var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value;

slider.oninput = function() {
  output.innerHTML = this.value;
}
</script>         

{% endblock %}