{% extends "Tesisapp/admin.html" %}
{% load static %}
{% block content %}
   <section id="main-content">
    <section class="wrapper">
      <h3><i class="fa fa-angle-right"></i>Usuario</h3>
      <div class="row">
        <div class="col-md-12">
          <div class="content-panel">  
            
            <script language="javascript">
              function doSearch() {
                  var tableReg = document.getElementById('regTable');
                  var searchText = document.getElementById('searchTerm').value.toLowerCase();
                  for (var i = 1; i < tableReg.rows.length; i++) {
                      var cellsOfRow = tableReg.rows[i].getElementsByTagName('td');
                      var found = false;
                      for (var j = 0; j < cellsOfRow.length && !found; j++) {
                          var compareWith = cellsOfRow[j].innerHTML.toLowerCase();
                          if (searchText.length == 0 || (compareWith.indexOf(searchText) > -1)) {
                              found = true;
                          }
                      }
                      if (found) {
                          tableReg.rows[i].style.display = '';
                      } else {
                          tableReg.rows[i].style.display = 'none';
                      }
                  }
              }
          </script>
          
            <input id="searchTerm" type="text" onkeyup="doSearch()" />
         
            <table class="table table-bordered table-striped table-condensed" >
              <thead>
                <tr>
                  <td>id</td>
                  <td>Usuario</td>
                  <td>Nombre</td>
                  <td>Apellido</td>
                  <td>Email</td>
                  <td>Contraseña</td>                 
              </thead>
              <tbody id="regTable">
                <tr>       
                  {% if usuarios %}              
                  {% for usuario in usuarios %}
                  <td>{{usuario.id}}</td>
                  <td>{{usuario.Usuario}}</td>
                  <td>{{usuario.Nombre}}</td>
                  <td>{{usuario.Apellido}}</td>
                  <td>{{usuario.Email}}</td>
                  <td>{{usuario.Contraseña}}</td>  
                  <td>
                    <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                    <a href="/edit/{{usuario.id}}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                    <a href="/delete/{{ usuario.id }}" style="" class="btn btn-danger btn-xs" onClick="return confirm(
                      '¿Seguro que quieres borrar a {{usuario.Nombre}}?');"><i class="fa fa-trash-o "></i></a>           
                  </td>                                              
                </tr> 
                {% endfor %} 
                {% else %}
                <h1>No hay datos</h1>
                {%endif%}
              </tbody>
            </table>
          </div>
        </div>
        <!-- /col-md-12 -->
      </div>
      
    </section>      
  </section>    

  
  {% endblock %}    