{% extends "Tesisapp/admin.html" %}
{% load static %}
{% block content %}
   <section id="main-content">
    <section class="wrapper">
      <h3><i class="fa fa-angle-right"></i>Usuario</h3>
      <div class="row">
        <div class="col-md-12">         
            <div class=" col-md-8"></div>
            <div class="col-xs-6 col-md-3"  style=" padding-top: 10px;"  >
              <form class="form-horizontal tasi-form" method="get">
                <div class="form-group  ">
                  <label class="col-sm-2 control-label col-lg-2">Buscar</label>
                  <div class="col-lg-10">
                  <input class="form-control" id="buscar" type="text" onkeyup="doSearch()"/></div> 
                  </div>
                </form>
                </div>
        </div>            
          <div class="content-panel">            
            <table id="table" class="table table-bordered table-striped table-condensed" >
              <thead>
                <tr>
                  <td>id</td>
                  <td>Usuario</td>
                  <td>Nombre</td>
                  <td>Apellido</td>
                  <td>Email</td>
                  <td>Contraseña</td>  
                  <td>Rol</td>               
              </thead>
              <tbody >
                <tr>       
                  {% if usuarios %}              
                  {% for usuario in usuarios %}
                  <td>{{usuario.id}}</td>
                  <td>{{usuario.Usuario}}</td>
                  <td>{{usuario.Nombre}}</td>
                  <td>{{usuario.Apellido}}</td>
                  <td>{{usuario.Email}}</td>
                  <td>{{usuario.Contraseña}}</td>
                  <td>{{usuario.Rol}}</td>
                  <td>
                    <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                    <a href="/edit/{{usuario.id}}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                    <a href="/delete/{{ usuario.id }}"class="btn btn-danger btn-xs" onClick="return confirm(
                      '¿Seguro que quieres borrar a {{usuario.Nombre}}?');"><i class="fa fa-trash-o "></i></a>           
                  </td>                                              
                </tr> 
                {% endfor %} 
                {% else %}
                <h1>No hay datos</h1>
                {%endif%}
              </tbody>
            </table>
          </div>
        </div>
      </div>      
    </section>      
  </section>    
    
<script>
 document.getElementById("buscar").onkeyup = function() {
      var buscar_= this.value.toLowerCase() ;
      document.querySelectorAll('.table tbody tr').forEach(function(e){
        var encontro_ =false;
        e.querySelectorAll('td').forEach(function(e){
          if (e.innerHTML.toLowerCase().indexOf(buscar_)>=0){
            encontro_=true;
          }
        }); 
        if (encontro_){
          e.style.display = '';
        }else{
          e.style.display = 'none';
        }
      });              
}
</script>
  {% endblock %}   
  
  
  
